@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mediumslateblue;
}
.currency-convertor{
background-color: white;
width: 500px;
height: auto;
padding:20px;
margin: 10px;
border-radius: 5px;

}
.section-1{
  padding: 10px;
display: flex;
justify-content: center;
text-align: center;
}
.section-1 img{
  border-radius: 5px;
}
.section-2{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  border: 2px dotted rgb(56, 143, 230);
  width: 450p;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 5px;
  color: dimgrey;
}
.input-container,.input-container-one,.input-container-two{
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: dimgrey;

}
.input-container-two{
  margin-bottom: 10px;
}
label{
  display: block;
  padding: 5px;
  
}
input , select{
  border: 2px solid lightblue;
  border-radius: 5px;
  color: dimgrey;
}
#amount{
  width:380px;
  padding: 10px;
  font-size: 10px;
}
#currency-from{
  width:400px;
  padding: 10px;
  font-size: 15px;
  font-size: medium;
}
#currency-to{
  width:400px;
  padding: 10px;
  font-size: 15px;
  font-size: medium;
}
.footer{
  width:450px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px dotted rgb(56, 143, 230);
  background-position: center;
  font-size: 25px;
  font-weight: 500;
  color: royalblue;
}


